---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/rubybot.slack.com\/","team":"team_name","user":"user_name","team_id":"TDEADBEEF","user_id":"UBAADFOOD"}'
  recorded_at: Tue, 28 Apr 2015 12:55:22 GMT
