---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.setTopic
    body:
      encoding: UTF-8
      string: channel=C019CV63UTC&topic=new+topic
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Req-Id:
      - 5182aebbedf4f2e23f64c01fe59ad5c8
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-gfe5
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C019CV63UTC","name":"topic","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1598276769,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"topic","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U04KB5WQR","is_ext_shared":false,"shared_team_ids":["T04KB5WQH"],"pending_connected_team_ids":[],"is_member":true,"last_read":"1638646407.000600","topic":{"value":"new
        topic","creator":"U0J1GAHN1","last_set":1638648800},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[]}}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
recorded_with: VCR 6.0.0
