---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test.txt&length=18&snippet_type=text
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 0daaf35366c102330fee03a96bd29d80
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z5zXmu4tU6iNSmcK5eT6tAAA0AQ
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-jbxl
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWgoAAeDmdRNhhhmPCgACGB_LzAXQJfgMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEIwNVpVWVRHAAoABAAAAAAAAAASAAsAAgAAABSXBmUZkPCOHekxu51o2S2S0LvAbgA","file_id":"F08B05ZUYTG"}'
  recorded_at: Fri, 31 Jan 2025 14:00:58 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWgoAAeDmdRNhhhmPCgACGB_LzAXQJfgMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEIwNVpVWVRHAAoABAAAAAAAAAASAAsAAgAAABSXBmUZkPCOHekxu51o2S2S0LvAbgA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-d8874bfdc-gz8gm
      X-Edge-Backend:
      - miata
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Fri, 31 Jan 2025 14:00:58 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channels=C08AZ76CA4V&files=%5B%7B%22id%22%3A%22F08B05ZUYTG%22%2C%22title%22%3A%22title%22%7D%5D&initial_comment=initial_comment&thread_ts=1738331914.958599
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 1341ff69ea3b75b083a080031326e37a
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z5zXmvojQ24U5thFrl9hbwAAEBE
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ptst
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F08B05ZUYTG","created":1738332058,"timestamp":1738332058,"name":"test.txt","title":"title","mimetype":"","filetype":"","pretty_type":"","user":"U08B21TJJ4B","user_team":"T39A0BY8P","editable":false,"size":18,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08B05ZUYTG\/test.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08B05ZUYTG\/download\/test.txt","media_display_type":"unknown","permalink":"https:\/\/popsql.slack.com\/files\/U08B21TJJ4B\/F08B05ZUYTG\/test.txt","permalink_public":"https:\/\/slack-files.com\/T39A0BY8P-F08B05ZUYTG-c1cfc0ac1a","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Fri, 31 Jan 2025 14:00:58 GMT
recorded_with: VCR 6.3.1
