---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test.txt&length=18
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 673482a585ac7ca019b31bf46498a2ad
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6Dx74wTGskQdEiEdbNwBgAAcAA
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ydoo
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWgoAAS2d2rA5abfGCgACGCDAWKD32QAMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEJIVVVGMjVSAAoABAAAAAAAAAASAAsAAgAAABR1Qd5XbLipOcU2LeqR_lqxoSzjlgA","file_id":"F08BHUUF25R"}'
  recorded_at: Mon, 03 Feb 2025 16:42:23 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWgoAAS2d2rA5abfGCgACGCDAWKD32QAMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEJIVVVGMjVSAAoABAAAAAAAAAASAAsAAgAAABR1Qd5XbLipOcU2LeqR_lqxoSzjlgA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-d8874bfdc-x2qwz
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Mon, 03 Feb 2025 16:42:23 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channels=C08AZ76CA4V%2CC08BHPZBZ8A&files=%5B%7B%22id%22%3A%22F08BHUUF25R%22%2C%22title%22%3A%22test.txt%22%7D%5D
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 14601aa8276ad280c91d23daccc647b8
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6Dx76_wSxe1TaZ1gmT-TgAAEDY
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-gmql
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F08BHUUF25R","created":1738600943,"timestamp":1738600943,"name":"test.txt","title":"test.txt","mimetype":"","filetype":"","pretty_type":"","user":"U08B21TJJ4B","user_team":"T39A0BY8P","editable":false,"size":18,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08BHUUF25R\/test.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08BHUUF25R\/download\/test.txt","media_display_type":"unknown","permalink":"https:\/\/popsql.slack.com\/files\/U08B21TJJ4B\/F08BHUUF25R\/test.txt","permalink_public":"https:\/\/slack-files.com\/T39A0BY8P-F08BHUUF25R-8b1d23c351","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Mon, 03 Feb 2025 16:42:23 GMT
recorded_with: VCR 6.3.1
