---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: alt_txt=alt_txt&filename=test.txt&length=18&snippet_type=text
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - '08a4120c91e504a26bb6ad0f08b83f10'
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z5xZqfkSz9PenwPz93v7hQAAABo
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-yxst
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWgoAAUMFEWsSXP2oCgACGB-ueVlte-AMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEFRMzhNTUZIAAoABAAAAAAAAAASAAsAAgAAABRvbR_xaVNIFgq8eQkjf777RQFUngA","file_id":"F08AQ38MMFH"}'
  recorded_at: Fri, 31 Jan 2025 05:03:37 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWgoAAUMFEWsSXP2oCgACGB-ueVlte-AMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEFRMzhNTUZIAAoABAAAAAAAAAASAAsAAgAAABRvbR_xaVNIFgq8eQkjf777RQFUngA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-d8874bfdc-646g4
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Fri, 31 Jan 2025 05:03:37 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channels=C08AZ76CA4V&files=%5B%7B%22id%22%3A%22F08AQ38MMFH%22%2C%22title%22%3A%22title%22%7D%5D&initial_comment=initial_comment
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - dadedeb80dd7922265135a83c7b306fd
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z5xZqRE03IpTB-HlvgG1UAAAECQ
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-pjmv
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F08AQ38MMFH","created":1738299817,"timestamp":1738299817,"name":"test.txt","title":"title","mimetype":"","filetype":"","pretty_type":"","user":"U08B21TJJ4B","user_team":"T39A0BY8P","editable":false,"size":18,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08AQ38MMFH\/test.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08AQ38MMFH\/download\/test.txt","media_display_type":"unknown","permalink":"https:\/\/popsql.slack.com\/files\/U08B21TJJ4B\/F08AQ38MMFH\/test.txt","permalink_public":"https:\/\/slack-files.com\/T39A0BY8P-F08AQ38MMFH-d69430e477","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Fri, 31 Jan 2025 05:03:37 GMT
recorded_with: VCR 6.3.1
