---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test1.txt&length=19
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 1b7b53d1a7fc55a967a18c5222e7ec91
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - identify,channels:read,files:read,groups:read,chat:write,files:write
      X-Slack-Unique-Id:
      - aHt7ZbdjgR7-x86G9k5D2QAAADc
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-tqrt
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWAoAAQHYqI2Lij63CgACGFOiKgoNiAAMAAMLAAEAAAAJVDA0S0I1V1FICwACAAAACVUwNEtCNVdRUgsAAwAAAAtGMDk3ODkzM0pHMAAKAAQAAAAAAAAAEwALAAIAAAAU750ABULpdgQ3g8RhclxTVm5KoSwA","file_id":"F0978933JG0"}'
  recorded_at: Sat, 19 Jul 2025 11:03:01 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWAoAAQHYqI2Lij63CgACGFOiKgoNiAAMAAMLAAEAAAAJVDA0S0I1V1FICwACAAAACVUwNEtCNVdRUgsAAwAAAAtGMDk3ODkzM0pHMAAKAAQAAAAAAAAAEwALAAIAAAAU750ABULpdgQ3g8RhclxTVm5KoSwA
    body:
      encoding: UTF-8
      string: First file contents
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-656bbc4dd6-qbjm5
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 19
  recorded_at: Sat, 19 Jul 2025 11:03:01 GMT
[...]
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWAoAATIsbIUSUlMSCgACGFOiKhga-VAMAAMLAAEAAAAJVDA0S0I1V1FICwACAAAACVUwNEtCNVdRUgsAAwAAAAtGMDk2RzQ3RDc3MAAKAAQAAAAAAAAAFAALAAIAAAAU_2PlEUki1GHyP27eja7T735pOikA
    body:
      encoding: UTF-8
      string: Second file contents
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-656bbc4dd6-t7npg
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 20
  recorded_at: Sat, 19 Jul 2025 11:03:01 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channel_id=C04KB5X4D&files=%5B%7B%22id%22%3A%22F0978933JG0%22%2C%22title%22%3A%22First+File%22%7D%2C%7B%22id%22%3A%22F096G47D770%22%2C%22title%22%3A%22Second+File%22%7D%5D&initial_comment=Multiple+files+upload+test
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 247976076ad083f12a34d2d4a2a95f9c
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - identify,channels:read,files:read,groups:read,chat:write,files:write
      X-Slack-Unique-Id:
      - aHt7ZaiASTlKpExH1ZkXlwAAEBk
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-guut
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F0978933JG0","created":1752922981,"timestamp":1752922981,"name":"test1.txt","title":"First
        File","mimetype":"","filetype":"","pretty_type":"","user":"U04KB5WQR","user_team":"T04KB5WQH","editable":false,"size":19,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T04KB5WQH-F0978933JG0\/test1.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T04KB5WQH-F0978933JG0\/download\/test1.txt","media_display_type":"unknown","permalink":"https:\/\/dblockdotorg.slack.com\/files\/U04KB5WQR\/F0978933JG0\/test1.txt","permalink_public":"https:\/\/slack-files.com\/T04KB5WQH-F0978933JG0-e214f43157","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"},{"id":"F096G47D770","created":1752922981,"timestamp":1752922981,"name":"test2.txt","title":"Second
        File","mimetype":"","filetype":"","pretty_type":"","user":"U04KB5WQR","user_team":"T04KB5WQH","editable":false,"size":20,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T04KB5WQH-F096G47D770\/test2.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T04KB5WQH-F096G47D770\/download\/test2.txt","media_display_type":"unknown","permalink":"https:\/\/dblockdotorg.slack.com\/files\/U04KB5WQR\/F096G47D770\/test2.txt","permalink_public":"https:\/\/slack-files.com\/T04KB5WQH-F096G47D770-a0a0f3b41d","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Sat, 19 Jul 2025 11:03:01 GMT
recorded_with: VCR 6.3.1
