---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test.txt&length=18
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 0afec9a126b2bca85100c91de859269f
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - app_mentions:read,channels:history,channels:read,chat:write,emoji:read,files:read,files:write,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,mpim:write,metadata.message:read,reactions:read,reactions:write,team:read,users:read,users:read.email
      X-Slack-Unique-Id:
      - aPp7jXYl1mPcV6Cj8WGqqQAAED0
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-rspm
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAXAoAAcOFlO7q8mElCgACGHEz_YUOMagMAAMLAAEAAAALVDA2TlJFTjU1OTYLAAIAAAALVTA5QVpTUEwwTjULAAMAAAALRjA5TVVGMDFZSjMACgAEAAAAAAAAABIACwACAAAAFC0jSkIC5pkH3FknRTh11EWXmraVAA","file_id":"F09MUF01YJ3"}'
  recorded_at: Thu, 23 Oct 2025 19:01:33 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAXAoAAcOFlO7q8mElCgACGHEz_YUOMagMAAMLAAEAAAALVDA2TlJFTjU1OTYLAAIAAAALVTA5QVpTUEwwTjULAAMAAAALRjA5TVVGMDFZSjMACgAEAAAAAAAAABIACwACAAAAFC0jSkIC5pkH3FknRTh11EWXmraVAA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-cmh-v2-7db76f8cc8-4qnwn
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Thu, 23 Oct 2025 19:01:33 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: blocks=%5B%7B%22type%22%3A%22section%22%2C%22text%22%3A%7B%22type%22%3A%22mrkdwn%22%2C%22text%22%3A%22This+is+a+test+file+upload+with+blocks%22%7D%7D%5D&channel_id=C07GQLY5Q3Z&files=%5B%7B%22id%22%3A%22F09MUF01YJ3%22%2C%22title%22%3A%22test.txt%22%7D%5D
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www[...]
