---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test.txt&length=18
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - c0acea07d363c4007bc51b6168bc517a
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6D1a58l3lqGKHRx6SXqWwAAEDE
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-vnnj
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWgoAAQ4wXweGI7A8CgACGCDBKFT_3xgMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEJXUjlDWThaAAoABAAAAAAAAAASAAsAAgAAABSAGP9y8Guho1R0JnWG-4rFCHpi3gA","file_id":"F08BWR9CY8Z"}'
  recorded_at: Mon, 03 Feb 2025 16:57:15 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWgoAAQ4wXweGI7A8CgACGCDBKFT_3xgMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEJXUjlDWThaAAoABAAAAAAAAAASAAsAAgAAABSAGP9y8Guho1R0JnWG-4rFCHpi3gA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-d8874bfdc-9rkk2
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Mon, 03 Feb 2025 16:57:15 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channels=C08AZ76CA4V%2CC08BHPZBZ8A&files=%5B%7B%22id%22%3A%22F08BWR9CY8Z%22%2C%22title%22%3A%22test.txt%22%7D%5D
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2625526d2769095d949dbd493d087937
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6D1a-lrCdWJ7CY_PVH7SgAAABI
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-lmgz
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F08BWR9CY8Z","created":1738601835,"timestamp":1738601835,"name":"test.txt","title":"test.txt","mimetype":"","filetype":"","pretty_type":"","user":"U08B21TJJ4B","user_team":"T39A0BY8P","editable":false,"size":18,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08BWR9CY8Z\/test.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08BWR9CY8Z\/download\/test.txt","media_display_type":"unknown","permalink":"https:\/\/popsql.slack.com\/files\/U08B21TJJ4B\/F08BWR9CY8Z\/test.txt","permalink_public":"https:\/\/slack-files.com\/T39A0BY8P-F08BWR9CY8Z-e066db23ab","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Mon, 03 Feb 2025 16:57:15 GMT
recorded_with: VCR 6.3.1
