---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/files.getUploadURLExternal
    body:
      encoding: UTF-8
      string: filename=test.txt&length=18&snippet_type=text
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f38b6caffea55b014ef6ace24ad670ab
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6ET6syIypLTMSc52s_IUgAAEDw
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-egkz
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"upload_url":"https:\/\/files.slack.com\/upload\/v1\/CwABAAAAWgoAAeTgxuUo8gb9CgACGCDIQhmeSSAMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEM3TlNVNjhZAAoABAAAAAAAAAASAAsAAgAAABReuqvCyX1a0NidgoupHZuM-d98wgA","file_id":"F08C7NSU68Y"}'
  recorded_at: Mon, 03 Feb 2025 19:07:22 GMT
- request:
    method: post
    uri: https://files.slack.com/upload/v1/CwABAAAAWgoAAeTgxuUo8gb9CgACGCDIQhmeSSAMAAMLAAEAAAAJVDM5QTBCWThQCwACAAAAC1UwOEIyMVRKSjRCCwADAAAAC0YwOEM3TlNVNjhZAAoABAAAAAAAAAASAAsAAgAAABReuqvCyX1a0NidgoupHZuM-d98wgA
    body:
      encoding: UTF-8
      string: Test File Contents
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Backend:
      - miata-prod-iad-v2-d8874bfdc-2sqpt
      X-Slack-Edge-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: OK - 18
  recorded_at: Mon, 03 Feb 2025 19:07:22 GMT
- request:
    method: post
    uri: https://slack.com/api/files.completeUploadExternal
    body:
      encoding: UTF-8
      string: channels=C08AZ76CA4V&files=%5B%7B%22id%22%3A%22F08C7NSU68Y%22%2C%22title%22%3A%22title%22%7D%5D&initial_comment=initial_comment&thread_ts=1738331914.958599
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - '087b04046fa7f15af7d7078758f9ed9c'
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - files:write
      X-Oauth-Scopes:
      - files:read,files:write,channels:join,channels:read,chat:write,chat:write.public
      X-Slack-Unique-Id:
      - Z6ET6qKwBqfYoGyTvEKQiAAAEBM
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-kpyi
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Geoname-Id:
      - notfound
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"files":[{"id":"F08C7NSU68Y","created":1738609642,"timestamp":1738609642,"name":"test.txt","title":"title","mimetype":"","filetype":"","pretty_type":"","user":"U08B21TJJ4B","user_team":"T39A0BY8P","editable":false,"size":18,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08C7NSU68Y\/test.txt","url_private_download":"https:\/\/files.slack.com\/files-pri\/T39A0BY8P-F08C7NSU68Y\/download\/test.txt","media_display_type":"unknown","permalink":"https:\/\/popsql.slack.com\/files\/U08B21TJJ4B\/F08C7NSU68Y\/test.txt","permalink_public":"https:\/\/slack-files.com\/T39A0BY8P-F08C7NSU68Y-e134d59fde","comments_count":0,"is_starred":false,"shares":{},"channels":[],"groups":[],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible"}]}'
  recorded_at: Mon, 03 Feb 2025 19:07:22 GMT
recorded_with: VCR 6.3.1
