---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/rtm.connect
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Slack-Req-Id:
      - 3ac158c304111b4de99958fb108b1e6b
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-eojx
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"wss:\/\/cerberus-xxxx.lb.slack-msgs.com\/websocket\/uid","team":{"id":"T04KB5WQH","name":"dblock","domain":"dblockdotorg"},"self":{"id":"U0J1GAHN1","name":"travis-ci"}}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/rtm.connect
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Req-Id:
      - 0b924e4cc784252e71d2e20636c56af4
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-wl6v
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_form_data"}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/rtm.connect
    body:
      encoding: UTF-8
      string: presence_sub=true
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Unique-Id:
      - YzDXEnlUBjX0uWkT8kmCzwAAABM
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Slack-Req-Id:
      - 20417f9da55172a329704fca8e35f683
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-fbwt
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"wss:\/\/wss-primary.slack.com\/websocket\/IDugmjBU5vPyDN1rGavpMHB1CdAznuJDyHl3pqAHz_DSflTYmCyuPIxH1vwqvz3aIXhyarUZMxyWiJD7zako2Wqc_poO8uiP3i6teabXYTA4vx4Hu2pa9k9PACV1apgYJFRU_iw4g2c5qeo=\/2","team":{"id":"T04KB5WQH","name":"dblock","domain":"dblockdotorg"},"self":{"id":"U0J1GAHN1","name":"travis-ci"}}'
  recorded_at: Sun, 25 Sep 2022 22:32:50 GMT
recorded_with: VCR 6.1.0
