---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Slack-Req-Id:
      - 0510e2f9c1d9d291fcc0bca603d9b991
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-r7ap
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true,"self":{"id":"U0J1GAHN1","name":"travis-ci","prefs":{"underline_links":false,"user_colors":"","color_names_in_list":true,"keyboard":null,"email_alerts":"instant","email_alerts_sleep_until":0,"email_tips":true,"email_weekly":true,"email_offers":true,"email_research":true,"email_developer":true,"welcome_message_hidden":false,"search_sort":"not_set","search_file_sort":"score","search_channel_sort":"relevant","search_people_sort":"relevant","expand_inline_imgs":true,"expand_internal_inline_imgs":true,"expand_snippets":false,"posts_formatting_guide":true,"seen_welcome_2":false,"seen_ssb_prompt":false,"spaces_new_xp_banner_dismissed":false,"search_only_my_channels":false,"search_only_current_team":false,"search_hide_my_channels":false,"search_only_show_online":false,"search_hide_deactivated_users":false,"emoji_mode":"default","emoji_use":"","emoji_use_org":"","has_invited":false,"has_uploaded":false,"has_created_channel":false,"has_created_channel_section":false,"has_searched":false,"has_installed_apps":null,"search_exclude_channels":"","messages_theme":"default","webapp_spellcheck":true,"no_joined_overlays":false,"no_created_overlays":false,"dropbox_enabled":false,"seen_domain_invite_reminder":false,"seen_member_invite_reminder":false,"mute_sounds":false,"arrow_history":false,"tab_ui_return_selects":true,"obey_inline_img_limit":true,"require_at":true,"ssb_space_window":"","mac_ssb_bounce":"","mac_ssb_bullet":true,"expand_non_media_attachments":true,"show_typing":true,"pagekeys_handled":true,"last_snippet_type":"","display_real_names_override":0,"display_display_names":true,"time24":false,"enter_is_special_in_tbt":false,"msg_input_send_btn":false,"msg_input_send_btn_auto_set":false,"msg_input_sticky_composer":true,"composer_nux":"plus-button","graphic_emoticons":false,"convert_emoticons":true,"ss_emojis":true,"seen_onboarding_start":false,"onboarding_cancelled":false,"seen_onboarding_slackbot_conversation":false,"seen_onboarding_channels":false,"seen_onboarding_direct_messages":false,"seen_onboarding_invites":false,"seen_onboarding_search":false,"seen_onboarding_recent_mentions":false,"seen_onboarding_starred_items":false,"seen_onboarding_private_groups":false,"seen_onboarding_banner":false,"onboarding_slackbot_conversation_step":0,"set_tz_automatically":false,"suppress_link_warning":false,"suppress_external_invites_from_compose_warning":false,"seen_emoji_pack_cta":0,"seen_emoji_pack_dialog":false,"seen_schedule_send_coachmark":false,"emoji_packs_most_recent_available_time":1602639922,"emoji_packs_clicked_picker_cta":false,"emoji_packs_clicked_picker_post_install_cta":false,"emoji_packs_clicked_collection_cta":false,"dnd_enabled":true,"dnd_start_hour":"22:00","dnd_end_hour":"8:00","dnd_before_monday":"8:00","dnd_after_monday":"22:00","dnd_enabled_monday":"partial","dnd_before_tuesday":"8:00","dnd_after_tuesday":"22:00","dnd_enabled_tuesday":"partial","dnd_before_wednesday":"8:00","dnd_after_wednesday":"22:00","dnd_enabled_wednesday":"partial","dnd_before_thursday":"8:00","dnd_after_thursday":"22:00","dnd_enabled_thursday":"partial","dnd_before_friday":"8:00","dnd_after_friday":"22:00","dnd_enabled_friday":"partial","dnd_before_saturday":"8:00","dnd_after_saturday":"22:00","dnd_enabled_saturday":"partial","dnd_before_sunday":"8:00","dnd_after_sunday":"22:00","dnd_enabled_sunday":"partial","dnd_days":"every_day","dnd_weekdays_off_allday":false,"reminder_notification_time":"09:00","dnd_custom_new_badge_seen":false,"dnd_notification_schedule_new_badge_seen":false,"notification_center_filters":"","unread_collapsed_channels":null,"xws_unread_collapsed_channels":null,"calls_survey_last_seen":"","huddle_survey_last_seen":"","sidebar_behavior":"","channel_sort":"default","separate_private_channels":false,"separate_shared_channels":true,"sidebar_theme":"default","sidebar_theme_custom_values":"","no_invites_widget_in_sidebar":false,"no_omnibox_in_channels":false,"k_key_omnibox_auto_hide_count":0,"show_sidebar_quickswitcher_button":false,"ent_org_wide_channels_sidebar":true,"mark_msgs_read_immediately":true,"start_scroll_at_oldest":true,"snippet_editor_wrap_long_lines":false,"ls_disabled":false,"f_key_search":false,"k_key_omnibox":true,"prompted_for_email_disabling":false,"no_macelectron_banner":false,"no_macssb1_banner":false,"no_macssb2_banner":false,"no_winssb1_banner":false,"hide_user_group_info_pane":false,"mentions_exclude_at_user_groups":false,"mentions_exclude_reactions":false,"privacy_policy_seen":true,"enterprise_migration_seen":true,"last_tos_acknowledged":null,"search_exclude_bots":false,"load_lato_2":false,"fuller_timestamps":false,"last_seen_at_channel_warning":0,"emoji_autocomplete_big":false,"two_factor_auth_enabled":false,"two_factor_type":null,"two_factor_backup_type":null,"hide_hex_swatch":false,"show_jumper_scores":false,"enterprise_mdm_custom_msg":"","enterprise_excluded_app_teams":null,"client_logs_pri":"","flannel_server_pool":"random","mentions_exclude_at_channels":true,"confirm_clear_all_unreads":true,"confirm_user_marked_away":true,"box_enabled":false,"seen_single_emoji_msg":false,"confirm_sh_call_start":true,"preferred_skin_tone":"","show_all_skin_tones":false,"whats_new_read":1452270861,"help_modal_open_timestamp":0,"help_modal_consult_banner_dismissed":false,"help_flexpane_slack_connect_card_seen":false,"help_flexpane_clips_card_seen":false,"help_menu_open_timestamp":0,"frecency_jumper":"","frecency_ent_jumper":"","jumbomoji":true,"newxp_seen_last_message":0,"show_memory_instrument":false,"enable_unread_view":false,"seen_unread_view_coachmark":false,"seen_connect_dm_coachmark":false,"seen_connect_section_coachmark":false,"should_show_connect_section":true,"enable_react_emoji_picker":true,"seen_custom_status_badge":false,"seen_custom_status_callout":false,"seen_custom_status_expiration_badge":false,"used_custom_status_kb_shortcut":false,"seen_guest_admin_slackbot_announcement":false,"seen_threads_notification_banner":false,"seen_name_tagging_coachmark":false,"all_unreads_sort_order":"","all_unreads_section_filter":"","locale":"en-US","seen_intl_channel_names_coachmark":false,"seen_p3_locale_change_message_ko_kr":0,"seen_toast_new_locale_launch":"","seen_toast_new_locale_launch_ts":0,"seen_locale_change_message":0,"seen_japanese_locale_change_message":false,"seen_shared_channels_coachmark":false,"seen_shared_channels_opt_in_change_message":false,"has_recently_shared_a_channel":false,"seen_channel_browser_admin_coachmark":false,"seen_administration_menu":false,"seen_drafts_section_coachmark":false,"seen_emoji_update_overlay_coachmark":false,"seen_sonic_deluxe_toast":0,"seen_wysiwyg_deluxe_toast":false,"seen_markdown_paste_toast":0,"seen_markdown_paste_shortcut":0,"seen_ia_education":false,"show_ia_tour_relaunch":0,"plain_text_mode":false,"show_shared_channels_education_banner":true,"should_show_shared_channels_day1_creator_welcome_modal":null,"ia_slackbot_survey_timestamp_48h":0,"ia_slackbot_survey_timestamp_7d":0,"enable_streamline_view":true,"enable_sent_view":true,"allow_calls_to_set_current_status":true,"in_interactive_mas_migration_flow":false,"sunset_interactive_message_views":0,"shdep_promo_code_submitted":false,"seen_shdep_slackbot_message":false,"seen_calls_interactive_coachmark":false,"allow_cmd_tab_iss":false,"join_calls_device_settings":"{\"microphone\":
        \"on\", \"camera\":\"off\"}","calls_disconnect_on_lock":true,"seen_workflow_builder_deluxe_toast":false,"workflow_builder_intro_modal_clicked_through":false,"workflow_builder_coachmarks":"{}","seen_gdrive_coachmark":false,"seen_first_install_coachmark":false,"seen_existing_install_coachmark":false,"seen_link_unfurl_coachmark":false,"file_picker_variant":0,"open_quip_doc_in_flexpane":true,"saved_searches":"{}","huddles_variant":0,"huddles_cc_by_default":false,"huddles_mute_by_default":false,"huddles_global_mute":true,"huddles_mini_panel":false,"huddles_set_status":true,"huddles_show_shouty_rooster":true,"huddles_disconnect_on_lock":true,"huddles_play_music_when_last":true,"huddles_allow_smart_notif":true,"huddles_reactions_play_sound":true,"huddles_reactions_read_out_loud":true,"xws_sidebar_variant":0,"inbox_views_workspace_filter":"all","overloaded_message_enabled":true,"seen_highlights_coachmark":false,"seen_highlights_arrows_coachmark":false,"seen_highlights_warm_welcome":false,"seen_new_search_ui":false,"seen_channel_search":false,"seen_people_search":false,"seen_people_search_count":0,"dismissed_scroll_search_tooltip_count":0,"last_dismissed_scroll_search_tooltip_timestamp":0,"has_used_quickswitcher_shortcut":false,"seen_quickswitcher_shortcut_tip_count":0,"browsers_dismissed_channels_low_results_education":false,"browsers_seen_initial_channels_education":true,"browsers_dismissed_people_low_results_education":false,"browsers_seen_initial_people_education":true,"browsers_dismissed_user_groups_low_results_education":false,"browsers_seen_initial_user_groups_education":true,"browsers_dismissed_files_low_results_education":false,"browsers_seen_initial_files_education":true,"browsers_dismissed_initial_drafts_education":false,"browsers_seen_initial_drafts_education":false,"browsers_dismissed_initial_activity_education":false,"browsers_seen_initial_activity_education":false,"browsers_dismissed_initial_saved_education":false,"browsers_seen_initial_saved_education":false,"seen_edit_mode":false,"seen_edit_mode_edu":false,"xws_dismissed_education":false,"xws_seen_education":0,"sidebar_pref_dismissed_tip":false,"a11y_dyslexic":false,"a11y_animations":true,"seen_keyboard_shortcuts_coachmark":false,"needs_initial_password_set":false,"lessons_enabled":false,"tractor_enabled":false,"tractor_experiment_group":"","opened_slackbot_dm":false,"newxp_seen_help_message":0,"newxp_suggested_channels":"","onboarding_complete":false,"welcome_place_state":"none","onboarding_role_apps":null,"has_received_threaded_message":true,"send_your_first_message_banner_enabled":null,"joiner_notifications_muted":false,"invite_accepted_notifications_muted":false,"joiner_message_suggestion_dismissed":false,"dismissed_fullscreen_download_ssb_prompt":false,"dismissed_banner_download_ssb_prompt":false,"onboarding_state":0,"whocanseethis_dm_mpdm_badge":false,"highlight_words":"","threads_everything":true,"no_text_in_notifications":false,"push_show_preview":true,"growls_enabled":true,"all_channels_loud":false,"push_dm_alert":true,"push_mention_alert":true,"push_everything":false,"push_idle_wait":0,"push_sound":"b2.mp3","new_msg_snd":"knock_brush.mp3","huddle_invite_sound":"flitterbug.mp3","push_loud_channels":"","push_mention_channels":"","push_loud_channels_set":"","loud_channels":"","never_channels":"","loud_channels_set":"","at_channel_suppressed_channels":"","push_at_channel_suppressed_channels":"","muted_channels":"","all_notifications_prefs":"{\"global\":{\"global_desktop\":\"mentions_dms\",\"global_mpdm_desktop\":\"everything\",\"global_mobile\":\"mentions_dms\",\"global_mpdm_mobile\":\"everything\",\"mobile_sound\":\"b2.mp3\",\"desktop_sound\":\"knock_brush.mp3\",\"global_keywords\":\"\",\"push_idle_wait\":0,\"no_text_in_notifications\":false,\"push_show_preview\":true,\"threads_everything\":true},\"channels\":{}}","growth_msg_limit_approaching_cta_count":0,"growth_msg_limit_approaching_cta_ts":0,"growth_msg_limit_reached_cta_count":0,"growth_msg_limit_reached_cta_last_ts":0,"growth_msg_limit_long_reached_cta_count":0,"growth_msg_limit_long_reached_cta_last_ts":0,"growth_msg_limit_sixty_day_banner_cta_count":0,"growth_msg_limit_sixty_day_banner_cta_last_ts":0,"growth_all_banners_prefs":"","analytics_upsell_coachmark_seen":false,"seen_app_space_coachmark":false,"seen_app_space_tutorial":false,"dismissed_app_launcher_welcome":false,"dismissed_app_launcher_limit":false,"dismissed_app_launcher_atlassian_promo":false,"enable_app_config_redesign":false,"dismissed_app_config_redesign_coachmark":false,"dismissed_app_manifest_description":false,"purchaser":false,"seen_channel_email_tooltip":false,"show_ent_onboarding":true,"folders_enabled":false,"folder_data":"[]","seen_corporate_export_alert":false,"show_autocomplete_help":1,"deprecation_toast_last_seen":0,"deprecation_modal_last_seen":0,"deprecation_banner_last_seen":0,"iap1_lab":0,"ia_top_nav_theme":"","ia_platform_actions_lab":1,"activity_view":"page","saved_view":"page","seen_floating_sidebar_coachmark":false,"desktop_deeplink_signals":null,"desktop_client_ids":"[]","failover_proxy_check_completed":0,"chime_access_check_completed":0,"mx_calendar_type":"","edge_upload_proxy_check_completed":0,"app_subdomain_check_completed":0,"add_prompt_interacted":false,"add_apps_prompt_dismissed":false,"add_channel_prompt_dismissed":false,"channel_sidebar_hide_invite":false,"channel_sidebar_hide_browse_dms_link":false,"in_prod_surveys_enabled":true,"connect_dm_early_access":false,"dismissed_installed_app_dm_suggestions":"","seen_contextual_message_shortcuts_modal":false,"seen_message_navigation_educational_toast":false,"contextual_message_shortcuts_modal_was_seen":false,"message_navigation_toast_was_seen":false,"up_to_browse_kb_shortcut":false,"set_a11y_prefs_new_user":false,"a11y_play_sound_for_incoming_dm":false,"a11y_play_sound_for_sent_dm":false,"a11y_read_out_incoming_dm":true,"a11y_screen_reader_message_label_date_time_first":false,"should_show_unsend_message_confirmation":true,"channel_sections":"","show_quick_reactions":false,"user_customized_quick_reactions_display_feature":2,"user_customized_quick_reactions_has_customized":false,"user_customized_quick_reactions_emoji_1":null,"user_customized_quick_reactions_emoji_2":null,"user_customized_quick_reactions_emoji_3":null,"user_customized_quick_reactions_use_frequently_used_emoji":false,"reaction_notifications":"false","has_received_mention_or_reaction":true,"has_starred_item":true,"has_drafted_message":true,"enable_mentions_and_reactions_view":true,"enable_reminders_view":false,"enable_saved_items_view":true,"enable_hq_view":false,"enable_all_dms_view":true,"enable_channel_browser_view":false,"enable_file_browser_view":false,"enable_people_browser_view":false,"enable_app_browser_view":false,"reached_all_dms_disclosure":false,"enable_slack_connect_view":true,"enable_slack_connect_view_2":0,"has_acknowledged_shortcut_speedbump":false,"stories_variant":null,"enable_media_captions":false,"media_playback_speed":1,"media_muted":false,"media_volume":1,"dismissed_connect_auto_approval_modal":"[]","tasks_view":"page","show_sidebar_avatars":true,"has_dismissed_google_directory_coachmark":false,"seen_sc_page_banner":false,"seen_sc_menu_coachmark":false,"seen_sc_page":false,"dismissed_scdm_education":false,"seen_bookmarks_intro":false,"scdm_trial_offer_banner":"{}","identity_links_prefs":"{}","identity_links_global_prefs":"{}","seen_sections_unreads_only_prompt_count":0,"last_seen_sections_unreads_only_prompt_timestamp":0,"notifications_view":"page","progressive_disclosure_state":"","suggestions_request_id":"","allowed_unfurl_senders":"","ia_details_coachmark_seen":false,"hide_external_members_sharing_speed_bump":false,"who_can_share_contact_card":"EVERYONE","slack_connect_invite_should_badge_sidebar":true,"phc_dismissed":"","dismissed_gov_slack_first_time_popup":false,"tz":"America\/Los_Angeles","locales_enabled":{"de-DE":"Deutsch
        (Deutschland)","en-GB":"English (UK)","en-US":"English (US)","es-ES":"Espa\u00f1ol
        (Espa\u00f1a)","es-LA":"Espa\u00f1ol (Latinoam\u00e9rica)","fr-FR":"Fran\u00e7ais
        (France)","it-IT":"Italiano (Italia)","pt-BR":"Portugu\u00eas (Brasil)","ru-RU":"P\u0443\u0441\u0441\u043a\u0438\u0439","ja-JP":"\u65e5\u672c\u8a9e","zh-CN":"\u7b80\u4f53\u4e2d\u6587","zh-TW":"\u7e41\u9ad4\u4e2d\u6587","ko-KR":"\ud55c\uad6d\uc5b4"}},"created":1452270861,"first_login":1452270966,"manual_presence":"active"},"team":{"id":"T04KB5WQH","name":"dblock","url":"https:\/\/dblockdotorg.slack.com\/","email_domain":"dblock.org","domain":"dblockdotorg","msg_edit_window_mins":-1,"prefs":{"default_channels":["C04KB5X4D","C04KB5X4Z"],"allow_calls":true,"display_email_addresses":false,"gdrive_enabled_team":false,"welcome_place_enabled":true,"display_external_email_addresses":false,"has_redeemed_shared_channels_free_trial_offer":true,"shared_channels_free_trial_date_expired":1631689737,"dm_retention_duration":0,"dm_retention_type":0,"file_retention_duration":0,"file_retention_type":0,"group_retention_duration":0,"group_retention_type":0,"retention_duration":0,"retention_type":0,"admin_customized_quick_reactions":["white_check_mark","eyes","raised_hands"],"all_users_can_purchase":true,"allow_admin_retention_override":0,"allow_audio_clip_sharing_slack_connect":true,"allow_audio_clips":true,"allow_box_cfs":false,"allow_calls_interactive_screen_sharing":true,"allow_huddles":true,"allow_huddles_transcriptions":true,"allow_media_transcriptions":true,"allow_message_deletion":true,"allow_retention_override":false,"allow_sponsored_slack_connections":false,"allow_video_clip_sharing_slack_connect":true,"allow_video_clips":true,"app_dir_only":false,"app_management_apps":[],"block_file_download":false,"box_app_installed":false,"calls_apps":{"video":[{"id":"A00","name":"Slack","image":"img\/slack_hash_128.png"}],"audio":[]},"calls_locations":[],"can_accept_slack_connect_channel_invites":true,"can_create_external_limited_invite":true,"can_create_slack_connect_channel_invite":true,"can_receive_shared_channels_invites":true,"channel_email_addresses_enabled":true,"compliance_export_start":0,"content_review_enabled":false,"created_with_google":false,"custom_contact_email":null,"custom_status_default_emoji":":speech_balloon:","custom_status_presets":[[":spiral_calendar_pad:","In
        a meeting","In a meeting","1_hour"],[":bus:","Commuting","Commuting","30_minutes"],[":face_with_thermometer:","Out
        sick","Out sick","all_day"],[":palm_tree:","Vacationing","Vacationing","no_expiration"],[":house_with_garden:","Working
        remotely","Working remotely","all_day"]],"default_channel_creation_enabled":false,"default_rxns":["simple_smile","thumbsup","white_check_mark","heart","eyes"],"dev_company_segment":null,"disable_email_ingestion":false,"disable_file_deleting":false,"disable_file_editing":false,"disable_file_uploads":"allow_all","disable_sidebar_connect_prompts":[],"disable_sidebar_install_prompts":[],"disallow_public_file_urls":false,"discoverable":"unlisted","display_default_phone":false,"display_pronouns":false,"display_real_names":false,"dnd_days":"every_day","dropbox_legacy_picker":false,"enable_connect_dm_early_access":false,"enable_domain_allowlist_for_cea":false,"enable_info_barriers":false,"enable_mpdm_to_private_channel_conversion":true,"enable_shared_channels":2,"ent_required_browser":null,"enterprise_default_channels":[],"enterprise_has_corporate_exports":false,"enterprise_intune_enabled":false,"enterprise_mandatory_channels":[],"enterprise_mdm_date_enabled":0,"enterprise_mdm_disable_file_download":false,"enterprise_mdm_level":0,"enterprise_mobile_device_check":false,"enterprise_team_creation_request":{"is_enabled":false},"external_shared_channel_requests_approval_channel":null,"file_limit_whitelisted":false,"filepicker_app_first_install":false,"gg_enabled":false,"has_compliance_export":false,"has_hipaa_compliance":false,"has_seen_partner_promo":false,"hermes_has_accepted_tos":false,"hide_gsuite_invite_option":false,"hide_referers":true,"in_shared_channels_day1_creator":null,"invite_requests_enabled":true,"invites_only_admins":true,"joiner_notifications_enabled":null,"locale":"en-US","loud_channel_mentions_limit":10000,"max_file_upload_size":null,"member_analytics_disabled":false,"ml_opt_out":false,"mobile_passcode_timeout_in_seconds":-1,"msg_edit_window_mins":-1,"notification_redaction_type":"REDACT_ALL_CONTENT","notify_pending_enabled":true,"ntlm_credential_domains":"*","onedrive_app_installed":false,"onedrive_enabled_team":false,"private_channel_membership_limit":0,"received_esc_route_to_channel_awareness_message":false,"required_minimum_mobile_version":null,"rimeto_org_instance_id":null,"search_feedback_opt_out":false,"self_serve_select":false,"session_duration":-1,"session_duration_type":-1,"show_join_leave":true,"show_legacy_paid_benefits_page":false,"sign_in_with_slack_disabled":false,"single_user_exports":false,"slack_connect_allowed_workspaces":{"type":["ALL"]},"slack_connect_approval_type":"N","slack_connect_dm_only_verified_orgs":false,"slack_connect_file_upload_sharing_enabled":true,"slackbot_responses_disabled":false,"sso_disable_emails":false,"sso_optional":false,"sso_signup_restrictions":1,"sso_sync_with_provider":true,"subteams_auto_create_admin":false,"subteams_auto_create_owner":false,"two_factor_auth_required":null,"use_browser_picker":false,"uses_customized_custom_status_presets":false,"warn_before_at_channel":"always","who_can_accept_slack_connect_channel_invites":{"type":["EVERYONE"]},"who_can_archive_channels":"regular","who_can_at_channel":"ra","who_can_at_everyone":"regular","who_can_change_team_profile":"admin","who_can_create_channels":"regular","who_can_create_delete_user_groups":"admin","who_can_create_external_limited_invite":{"type":["EVERYONE"]},"who_can_create_groups":"ra","who_can_create_shared_channels":"admin","who_can_create_slack_connect_channel_invite":{"type":["EVERYONE"]},"who_can_dm_anyone":{"type":["EVERYONE"]},"who_can_edit_user_groups":"admin","who_can_kick_channels":"admin","who_can_kick_groups":"regular","who_can_manage_channel_posting_prefs":"ra","who_can_manage_ext_shared_channels":{"type":["ORG_ADMINS_AND_OWNERS"]},"who_can_manage_guests":{"type":["admin"]},"who_can_manage_private_channels":{"user":[],"type":[]},"who_can_manage_private_channels_at_workspace_level":{"user":[],"type":["WORKSPACE_PRIMARY_OWNER"]},"who_can_manage_public_channels":{"user":[],"type":[]},"who_can_manage_shared_channels":{"type":["admin"]},"who_can_post_general":"ra","who_can_post_in_shared_channels":{"type":["ra"]},"who_can_request_ext_shared_channels":{"type":["EVERYONE"]},"who_can_review_flagged_content":{"type":["ORG_AND_WORKSPACE_ADMINS_OWNERS"]},"who_can_view_message_activity":{"type":["TOPLEVEL_ADMINS_AND_OWNERS"]},"workflow_builder_enabled":true,"workflow_extension_steps_beta_opt_in":false,"dnd_enabled":true,"dnd_start_hour":"22:00","dnd_end_hour":"08:00","dnd_before_monday":"08:00","dnd_after_monday":"22:00","dnd_before_tuesday":"08:00","dnd_after_tuesday":"22:00","dnd_before_wednesday":"08:00","dnd_after_wednesday":"22:00","dnd_before_thursday":"08:00","dnd_after_thursday":"22:00","dnd_before_friday":"08:00","dnd_after_friday":"22:00","dnd_before_saturday":"08:00","dnd_after_saturday":"22:00","dnd_before_sunday":"08:00","dnd_after_sunday":"22:00","dnd_enabled_monday":"partial","dnd_enabled_tuesday":"partial","dnd_enabled_wednesday":"partial","dnd_enabled_thursday":"partial","dnd_enabled_friday":"partial","dnd_enabled_saturday":"partial","dnd_enabled_sunday":"partial","dnd_weekdays_off_allday":false,"auth_mode":"normal","who_can_manage_integrations":{"type":["regular"]},"app_whitelist_enabled":false,"invited_user_preset":{"enable_invited_user":true},"who_can_create_workflows":{"type":["regular"]},"workflows_webhook_trigger_enabled":true,"workflow_extension_steps_enabled":true,"workflows_export_csv_enabled":true,"who_can_use_hermes":{"type":["owner","admin"]},"who_can_create_channel_email_addresses":{"type":["regular"]},"identity_links_prefs":{"is_enabled":true},"magic_unfurls_enabled":true,"invites_limit":false},"icon":{"image_102":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_102.jpg","image_132":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_132.jpg","image_34":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_34.jpg","image_44":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_44.jpg","image_68":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_68.jpg","image_88":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_88.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_original.jpg","image_230":"https:\/\/avatars.slack-edge.com\/2015-04-28\/4657218807_d480d2ee610d2e8aacfe_132.jpg"},"over_storage_limit":false,"messages_count":9093,"plan":"","onboarding_channel_id":"","date_create":1430222229,"limit_ts":0,"is_verified":false,"avatar_base_url":"https:\/\/ca.slack-edge.com\/"},"accept_tos_url":null,"latest_event_ts":"1638648153.000000","channels":[{"id":"C04KB5X4D","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1430222230,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U04KB5WQR","is_ext_shared":false,"shared_team_ids":["T04KB5WQH"],"pending_connected_team_ids":[],"has_pins":false,"is_member":false,"previous_names":[],"priority":0},{"id":"C04KB5X4Z","name":"random","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1430222230,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U04KB5WQR","is_ext_shared":false,"shared_team_ids":["T04KB5WQH"],"pending_connected_team_ids":[],"has_pins":false,"is_member":false,"previous_names":[][...]
[...]
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Req-Id:
      - 48b0722432a17964a26b7da796b77509
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-5iiw
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: request%5Btimeout%5D=180
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Req-Id:
      - 6252ecf22bf832c7b0acb20114c49b59
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-xicv
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
recorded_with: VCR 6.0.0
