---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/rtm.connect
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 5126a5af-f201-4e61-8615-85ed74719049
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"wss:\/\/mpmulti-w5tz.slack-msgs.com\/websocket\/uid","team":{"id":"T04KB5WQH","name":"dblock","domain":"dblockdotorg"},"self":{"id":"U07518DTL","name":"testbot"}}'
  recorded_at: Fri, 28 Apr 2017 21:28:14 GMT
recorded_with: VCR 3.0.3
