---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/views.open
    body:
      encoding: UTF-8
      string: token=token&trigger_id=trigger_id&view=%7B%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ixj4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_arguments","response_metadata":{"messages":["[ERROR]
        missing required field: title [json-pointer:\/view]","[ERROR] missing required
        field: blocks [json-pointer:\/view]","[ERROR] missing required field: type
        [json-pointer:\/view]"]}}'
  recorded_at: Wed, 19 Feb 2020 17:52:59 GMT
recorded_with: VCR 5.1.0
