---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/views.open
    body:
      encoding: UTF-8
      string: trigger_id=trigger_id&view=%7B%7D
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Req-Id:
      - 0215a1462c28174d87b50ee7a2c61a2d
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-z2dw
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_arguments","response_metadata":{"messages":["[ERROR]
        failed to match all allowed schemas [json-pointer:\/view]","[ERROR] missing
        required field: type [json-pointer:\/view]"]}}'
  recorded_at: Sat, 19 Jan 2019 21:25:48 GMT
recorded_with: VCR 6.0.0
